 .box-layout a {
	color:#f76c6c;
	text-decoration:underline;
}
.box-layout__box {
	grid-area:login;
	display:flex;
	padding:1rem;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background:#0b2646;
	padding:3.2rem 1.6rem;
	text-align:center;
	width:38vw;
	height:100vh;
	transition:all 0.2s ease-in;
}
@media screen and (max-width:60rem) {
	.box-layout__box {
		width:100vw;
		height:100vh;
		border-radius:0;
	}
}
.box-layout__signup-box {
	background:#0b2646;
	padding:3.2rem 1.6rem;
	text-align:center;
	width:40vw;
	height:100vh;
}
.box-layout {
	font-family:'Roboto',sans-serif;
	background:white;
	background-repeat:no-repeat;
	background-size:cover;
	width:100vw;
	height:100vh;
	display:grid;
	grid-template-areas:"logo logo login";
	opacity:0.95;
}
@media screen and (max-width:60rem) {
	.box-layout__signup-box {
		width:100vw;
		height:100vh;
		border-radius:0;
	}
}
.box-layout__logo-outside {
	grid-area:logo;
	background:#2f3841;
	background:url('/images/bg1.jpg') center;
	background-repeat:no-repeat;
	background-size:cover;
	opacity:0.9;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin:0;
	width:62vw;
}
@media screen and (max-width:60rem) {
	.box-layout__logo-outside {
		display:none;
	}
}
.box-layout__logo-outside img {
	display:flex;
	justify-content:center;
	height:15rem;
}
.box-layout__logo-inside {
	grid-area:logo;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin:0;
}
.box-layout__logo-inside img {
	display:flex;
	justify-content:center;
	height:12rem;
}
.box-layout__title {
	margin:0 0 1.2rem 0;
	line-height:1;
	color:#f76c6c;
	font-size:4.8rem;
}
@media screen and (max-width:60rem) {
	.box-layout__title {
		font-size:3.2rem;
	}
}
.Tilt {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
.box-layout__subtitle {
	color:white;
	font-size:2rem;
	font-weight:500;
	margin-bottom:1rem;
}
@media (max-width:60rem) {
	.box-layout__subtitle {
		position:absolute;
		z-index:-1;
		visibility:hidden;
	}
}
.box-layout__input {
	border-radius:3px;
}
.box-layout__question {
	margin:2rem 0 0.5rem 0;
	color:#edc7bc;
	font-size:1.7rem;
}
.box-layout input {
	background:none;
	display:block;
	margin:3rem auto;
	text-align:center;
	border:2px solid #eb6e80;
	border-radius:10px;
	width:23vw;
	padding:1.2rem 4.8rem;
	outline:none;
	color:#edc7bc;
	font-weight:200;
}
.box-layout input:focus::placeholder {
	color:transparent;
}
@media screen and (max-width:60rem) {
	.box-layout input {
		width:75vw;
		margin:4rem auto;
	}
}
.box-layout__signup-box input {
	margin:2rem auto;
}
.box-layout__signin {
	display:flex;
	margin:0 7rem;
	justify-content:space-around;
}
@media screen and (max-width:60rem) {
	.box-layout__signin {
		margin:3rem 10vw 2rem 10vw;
	}
}
.box-layout__signin button {
	background:transparent;
	border:none;
	color:#f76c6c;
	margin-bottom:1rem;
}
.box-layout__signin button:hover {
	color:#eb6e80;
}
.box-layout input:hover {
	border:2px solid #edc7bc;
}
.box-layout input::placeholder {
	color:#eb6e80;
}
.box-layout__login-form-title {
	font-size:24px;
	color:#333;
	line-height:1.2;
	text-align:center;
	width:100%;
	display:block;
	padding-bottom:54px;
}
html {
	font-size:62.5%;
	outline:none;
}
body {
	background:#d4eaea;
	font-family:'Source Sans Pro',sans-serif;
	font-size:1.6rem;
	line-height:1.6;
	overflow-x:hidden;
	position:relative;
	top:-8px;
}
button {
	cursor:pointer;
}
button:disabled {
	cursor:default;
}
.is-active {
	font-weight:bold;
}
a {
	text-decoration:none;
	transition:color 0.3s ease;
}
a:visited {
	color:none;
}
.button {
	border:none;
	display:inline-block;
	font-family:'Livvic',sans-serif;
	outline:none;
	text-decoration:none;
	font-size:1.8rem;
	line-height:1;
	margin:0;
}
.button-primary {
	color:white;
	font-size:1.8rem;
	font-weight:300;
	padding:1.2rem 2rem;
	border-radius:8px;
	margin-bottom:0.5rem;
	background:#f76c6c;
}
.button-secondary {
	height:5rem;
	width:7rem;
	background:#eb6e80;
	color:white;
	font-weight:300;
	padding:1.2rem 2rem;
	border:none;
	border-radius:10px;
	outline:none;
}
.button-logout {
	border:none;
	font-family:'Livvic',sans-serif;
	color:black;
	display:inline-block;
	line-height:1;
	padding:1.2rem 1.5rem;
	text-decoration:none;
	border-radius:10px;
	outline:none;
}
.button-submit {
	margin-top:1rem;
}
.button-secondary:hover {
	padding:1.5rem 2.6rem;
	transition:all 0.2s ease;
}
.button-primary:hover {
	transition:all 0.2s ease;
	background:#eb6e80;
}
.button-primary:active {
	box-shadow:0 5px #f66262;
	transform:translateY(4px);
}
.button-secondary:active {
	box-shadow:0 5px #f66262;
	transform:translateY(4px);
}
.button--secondary {
	background:#888;
}
.btn-secondary {
	display:block;
	margin:10px 5px 0 0;
	text-align:center;
	background:#f76c6c;
	border-radius:3px;
	box-shadow:0 10px 20px -15px #f76c6c;
	padding:10px 17px;
	font-size:18px;
	cursor:pointer;
	border:1px #94f0f1;
	outline:none;
	color:#fff;
	text-decoration:none;
	-webkit-transition:0.3s ease;
	transition:0.3s ease;
}
.btn-secondary:hover {
	transform:translateY(-3px);
}
.btn-secondary .fa {
	margin-right:5px;
}
.btn-primary {
	display:block;
	margin:10px 5px 0 0;
	text-align:center;
	background:#2d4e68;
	border-radius:3px;
	box-shadow:0 10px 20px -10px #2d4e68;
	padding:10px 17px;
	font-size:18px;
	cursor:pointer;
	border:none;
	outline:none;
	color:#fff;
	text-decoration:none;
	-webkit-transition:0.3s ease;
	transition:0.3s ease;
}
.btn-primary:hover {
	transform:translateY(-3px);
}
.btn-primary .fa {
	margin-right:5px;
}
.button-dropbtn {
	background:transparent;
	color:white;
	padding:16px;
	font-size:16px;
	border:none;
	cursor:pointer;
	color:#eb6e80;
	outline:none;
}
.button-dropdown {
	position:relative;
	display:inline-block;
	text-align:center;
}
.button-dropdown__content {
	display:none;
	position:absolute;
	left:-5rem;
	background-color:#f9f9f9;
	width:15rem;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:1;
	border-radius:5px;
}
.button-dropdown__content button {
	width:100%;
	padding:10px 10px;
	text-decoration:none;
	display:block;
	border-bottom:1px solid #d8d8d8;
}
.button-dropdown__content button:hover {
	background-color:#f1f1f1;
	width:100%;
}
.button-dropdown:hover .button-dropdown__content {
	display:flex;
	flex-direction:column;
}
.mobile-nav {
	background-color:#3c3842;
	max-width:200px;
	width:100%;
	height:100%;
	transform:translate(-100%,0);
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.mobile-nav h2 {
	padding:25px 20px;
}
.mobile-nav li a {
	color:#989aa4;
	display:block;
	padding:15px 20px;
}
.mobile-one .mobile-nav li a:hover {
	background-color:#23252b;
	color:#fff;
	border-left:3px solid #44bfc6;
}
.button-floating button {
	color:white;
	position:sticky;
	height:6rem;
	width:6rem;
	background:#f76c6c;
	border-radius:50%;
	border:none;
	outline:none;
	bottom:1rem;
	left:47.8%;
	z-index:100;
}
.button-floating button:hover {
	transform:scale(1.25);
	transition:transform 0.1s ease;
}
@media screen and (max-width:60rem) {
	.button-floating button {
		top:80vh;
		left:42vw;
	}
}
.btn {
	box-sizing:border-box;
	appearance:none;
	background-color:transparent;
	border:2px solid #e74c3c;
	border-radius:0.6em;
	color:#e74c3c;
	cursor:pointer;
	display:flex;
	align-self:center;
	font-size:1rem;
	font-weight:400;
	line-height:1;
	margin:20px;
	padding:1.2em 2.8em;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;
}
.btn:hover,.btn:focus {
	color:#fff;
	outline:0;
}
.third {
	text-align:center;
	border-color:#eb6e80;
	color:#fff;
	transition:all 150ms ease-in-out;
}
.third:hover {
	box-shadow:0 0 10px 0 #eb6e80 inset,0 0 10px 4px #eb6e80;
}
.third:active {
	transform:translateY(4px);
}
.button-register {
	position:fixed;
	top:40vh;
	left:6.8vw;
	background:#2d4e68;
}
@media screen and (max-width:60rem) {
	.button-register {
		position:static;
		margin-top:2rem;
	}
}
.button-join {
	position:fixed;
	top:55vh;
	left:5vw;
	background:#2d4e68;
}
@media screen and (max-width:60rem) {
	.button-join {
		position:static;
	}
}
.header {
	background:#0b2646;
	margin-left:-10px;
	height:75px;
	width:110%;
	border-bottom:1px;
}
.header__content {
	display:flex;
	align-items:center;
	justify-content:center;
	padding:0.5rem 0;
	margin:0 3rem 0 0;
}
@media screen and (max-width:60rem) {
	.mobile {
		display:none;
	}
}
@media screen and (min-width:60rem) {
	.desktop {
		display:none;
	}
}
.header__title {
	display:flex;
	margin-top:7px;
	font-size:100%;
	color:#eef6f6;
	text-decoration:none;
}
.header__title h1 {
	margin:0;
}
.header__title img {
	height:5rem;
	margin:0 0 0 3rem;
}
@media (max-width:60rem) {
	.header__title img {
		height:5rem;
		margin:0 0 0 0.5rem;
	}
}
.header__chat-button {
	color:#ab47bc;
	cursor:pointer;
}
.header__chat-button:focus {
	color:#f2b1d8;
	pointer-events:none;
}
.header__links {
	position:relative;
	margin-top:-20px;
}
.header__links input {
	opacity:0;
	margin:0;
}
.header__links ul {
	margin:0;
}
.header__links ul button {
	background:transparent;
	border:none;
	outline:none;
	margin-right:3rem;
}
#menuToggle>button,a>button {
	color:#eb6e80;
}
.scale:hover {
	transform:scale(1.2);
	transition:transform 0.2s ease;
}
@media (min-width:60rem) {
	#menu {
		display:none;
	}
}
#menu button {
	color:#eb6e80;
	font-size:3rem;
	padding:0 0 8rem 0;
}
#menu ul {
	padding:0;
}
@media (max-width:60rem) {
	#desktop-menu {
		display:none;
		margin-top:-100px;
	}
}
@media (max-width:60rem) {
	#hamburger {
		position:absolute;
		top:1rem;
		right:0;
		z-index:2;
		width:5rem;
		height:5rem;
		padding:1rem;
		display:flex;
		justify-content:center;
		align-content:center;
		margin:1rem;
	}
	#hamburger>div {
		position:relative;
		width:100%;
		height:3px;
		border-radius:3px;
		background-color:#f76c6c;
		display:flex;
		justify-items:center;
		align-items:center;
		transition:all 0.4s ease;
	}
	#hamburger>div:before,#hamburger>div:after {
		content:'';
		position:absolute;
		z-index:2;
		top:-10px;
		width:100%;
		height:3px;
		border-radius:3px;
		background-color:inherit;
	}
	#hamburger>div:after {
		top:10px;
	}
	#toggler:checked+#hamburger>div {
		transform:rotate(135deg);
	}
	#toggler:checked+#hamburger>div:before,#toggler:checked+#hamburger>div:after {
		top:0;
		transform:rotate(90deg);
	}
	#toggler:checked:hover+#hamburger>d {
		transform:rotate(225deg);
	}
	#menu {
		position:fixed;
		top:0;
		right:0;
		width:100%;
		height:100%;
		overflow:hidden;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		visibility:hidden;
	}
	#menu>div {
		background:#fff;
		border-radius:50%;
		width:150vw;
		height:135vh;
		display:flex;
		flex:none;
		align-items:center;
		justify-content:center;
		transform:scale(0);
		transition:all 0.4s ease;
		position:relative;
	}
	#menu>div>div {
		text-align:center;
		max-width:90vw;
		max-height:100vh;
		opacity:0;
		transition:opacity 0.4s ease;
	}
	#menu>div>div>ul {
		color:white;
		font-size:1.4rem;
		display:flex;
		flex-direction:column;
		margin:0;
	}
	#menu>div>div>ul>a {
		color:inherit;
		outline:none;
		margin:1rem 0;
		text-decoration:none;
		transition:color 0.4s ease;
	}
	#menu>div>div>ul>a:hover {
		font-weight:800;
		color:#edc7bc;
		margin:1rem 0;
	}
	#menu>div>div>ul>button {
		margin:1rem 0;
	}
}
.top-text-block {
	display:block;
	padding:3px 20px;
	clear:both;
	font-weight:400;
	line-height:1.42857143;
	color:#333;
	white-space:inherit !important;
	border-bottom:1px solid #f4f4f4;
	position:relative;
}
.top-text-block:hover:before {
	content:'';
	width:4px;
	background:#f05a1a;
	left:0;
	top:0;
	bottom:0;
	position:absolute;
}
.top-text-block.unread {
	background:#ffc;
}
.top-text-block .top-text-light {
	color:#999;
	font-size:0.8em;
}
.top-head-dropdown .dropdown-menu {
	width:350px;
	height:300px;
	overflow:auto;
}
.top-head-dropdown li:last-child .top-text-block {
	border-bottom:0;
}
.topbar-align-center {
	text-align:center;
}
.input-group {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin:3.2rem 1.6rem;
	margin-bottom:0;
}
@media (min-width:60rem) {
	.input-group {
		flex-direction:row;
		justify-content:center;
		align-items:center;
		margin:3.2rem 3.2rem;
	}
}
.input-group input {
	border-radius:1rem;
	height:4rem;
	outline:none;
	border:1px solid #2e3740;
	padding:1rem;
	background:#f9f9f9;
}
.input-group__item {
	margin-bottom:1.6rem;
}
@media (min-width:60rem) {
	.input-group__item {
		margin:0 3.2rem 0 0;
	}
}
*,*::after,*::before {
	box-sizing:border-box;
}
.center {
	align-items:center;
	display:flex;
	height:100%;
	justify-content:center;
	position:relative;
}
.inner {
	background:#fff;
	border-radius:5em;
	box-shadow:0 10px 20px -8px black;
	display:flex;
	overflow:hidden;
	width:16rem;
}
.inner label {
	background:#fff;
	cursor:pointer;
	display:inline-block;
	border:4px blue;
	font-size:2rem;
	position:relative;
	text-align:center;
	line-height:2em;
	height:100%;
	user-select:none;
	width:4em;
	z-index:0;
}
.inner label::after {
	content:"";
	clip-path:circle(0%);
	height:100%;
	left:0;
	position:absolute;
	top:0;
	transition:clip-path 500ms ease-out;
	width:100%;
	z-index:-1;
}
.inner label[title="Sort by Likes"] {
	color:#f76c6c;
}
.inner label[title="Recent"] {
	color:#f76c6c;
}
input[type="radio"] {
	position:absolute;
	top:-1111em;
}
input[type="radio"]:checked~label[title="Sort by Likes"]::after {
	background:#ffdc6a;
	clip-path:circle(100%);
}
input[type="radio"]:checked~label[title="Recent"]::after {
	background:#ffdc6a;
	clip-path:circle(100%);
}
.my-blogs {
	display:flex;
	justify-content:space-around;
}
@media screen and (max-width:60rem) {
	.my-blogs {
		margin:2rem;
	}
}
.my-blogs__list-card {
	margin-bottom:7rem;
}
.my-blogs__blogs {
	margin:5rem 0;
}
.my-blogs__user {
	margin-top:6rem;
}
@media screen and (max-width:60rem) {
	.my-blogs__user {
		display:none;
	}
}
.my-blogs__user-card {
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:40rem;
	box-shadow:0 10px 20px rgba(0,0,0,0.3),0 6px 17px rgba(0,0,0,0.2);
}
.my-blogs__user-card img {
	width:20rem;
	height:20rem;
	border-radius:50%;
	margin:2rem;
}
.my-blogs__user-card h3 {
	margin:0 0 3rem 0;
}
.my-blogs__user-card a {
	color:#008f95;
	font-size:1.8rem;
}
.my-blogs__user-card a:visited {
	color:#374785;
}
.my-blogs__user-card>div {
	margin-bottom:3rem;
}
.list {
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	font-family:'Quicksand',sans-serif;
}
@media screen and (max-width:60rem) {
	.list {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		margin:0 2rem;
	}
}
.list-card {
	position:relative;
	height:40rem;
	width:67rem;
	margin:4rem;
	background:white;
	border-radius:20px;
	box-shadow:0 10px 20px rgba(0,0,0,0.3),0 6px 17px rgba(0,0,0,0.2);
}
.headevent {
	font-size:3rem;
	margin-left:45px;
}
@media screen and (max-width:60rem) {
	.list-card {
		text-align:center;
		margin:4.3rem 0;
		border-radius:3rem;
		width:100%;
		height:65vh;
	}
}
.list-card:hover {
	-webkit-transform:scale(0.9);
	-ms-transform:scale(0.9);
	transform:scale(0.92);
	-webkit-box-shadow:0 20px 40px rgba(0,0,0,0.08);
	box-shadow:0 20px 40px rgba(0,0,0,0.08);
	transition:all 0.3s ease;
	transform:scale(1.03);
	cursor:pointer;
}
.list-card__body {
	display:grid;
	grid-template-columns:1.3fr 1fr;
	grid-template-rows:2fr 1fr;
	grid-template-areas:"img content" "data content";
	height:inherit;
}
@media screen and (max-width:60rem) {
	.list-card__body {
		display:flex;
		flex-direction:column;
	}
}
.popup {
	z-index:1;
	height:200px;
	width:500px;
	left:-500px;
	background-color:white;
	position:sticky;
	border-radius:5px black;
	box-shadow:1px 1px 5px black;
}
.popbut {
	height:30px;
	width:45px;
	background-color:#0ed12b;
	color:white;
}
.list-card__image img {
	grid-area:img;
	width:90%;
	top:1rem;
	left:2rem;
	height:35vh;
	margin-bottom:25px;
	position:relative;
	background-size:cover;
	border-radius:10px;
	background-position:center;
	background-repeat:no-repeat;
	box-shadow:5px 5px 10px 0px rgba(0,0,0,0.75);
}
@media screen and (max-width:60rem) {
	.list-card__image img {
		display:none;
	}
}
.event-list-item-container {
	display:inline-block;
	position:relative;
	top:-25px;
	justify-content:normal;
	margin-bottom:-30px;
}
.list-card__content {
	overflow:hidden;
	grid-area:content;
	position:relative;
	left:0;
	margin:0.6rem 2rem 0.6rem 0;
	padding:0.5rem;
}
.list-card__content h3 {
	margin:0 1rem 1rem 0;
}
.list-card__body-author {
	align-self:start;
	display:flex;
	color:white;
	font-weight:100;
	padding:0.3rem 0.3rem 1rem 0.3rem;
	justify-content:flex-start;
	border-bottom:2px solid #c3c3c3;
}
@media screen and (max-width:60rem) {
	.list-card__body-author {
		margin-top:1rem;
	}
}
.ven {
	position:relative;
	top:-6px;
}
.list-card__body-author img {
	border-radius:10rem;
	height:3.4rem;
	width:3rem;
	margin-right:0.5rem;
}
@media screen and (max-width:60rem) {
	.list-card__body-author img {
		height:5rem;
	}
}
.list-card__body-author h3 {
	font-size:1.4rem;
	margin:0.1rem 1rem 0 0;
	background:#eb6e80;
	border-radius:1rem;
	padding:0.4rem 0.8rem;
	font-weight:100;
}
@media screen and (max-width:60rem) {
	.list-card__body-author h3 {
		height:5rem;
		font-size:1.8rem;
		padding:0 1rem;
		padding-top:1rem;
	}
}
.list-card__body-title {
	text-align:center;
	color:#2a2a2a;
	font-weight:900;
	text-transform:capitalize;
}
.list-card__body-content {
	padding-top:10px;
	font-size:0.95rem;
	line-height:150%;
	color:#5d5d5d;
}
.list-card__content-text {
	position:relative;
	top:-5px;
	text-align:start;
	font-weight:bold;
	font-size:1.45rem;
	line-height:150%;
	color:#4b4b4b;
}
.list-card__body-date {
	grid-area:data;
	display:flex;
	flex-direction:column;
	margin-left:4rem;
	margin-bottom:2rem;
}
.list-card__body-date label {
	margin-top:0.3rem;
	color:#2e3740;
}
.list-card__body-date>div {
	margin-bottom:1rem;
}
.list-card__body-date>div>div {
	display:flex;
}
.list-card__body-date h5 {
	font-size:2rem;
	color:#777;
	margin:0;
}
.list-card__body-date h6 {
	font-size:1.7rem;
	color:#777;
	margin:0;
}
.list-card__body-date ul {
	display:flex;
	align-items:flex-end;
	justify-content:end;
	margin-bottom:2rem;
}
@media screen and (max-width:60rem) {
	.list-card__body-date ul {
		display:flex;
		align-items:flex-end;
		justify-content:center;
	}
}
.list-card__body-date li {
	list-style:none;
	padding-right:40px;
	color:#7b7b7b;
}
@media screen and (max-width:60rem) {
	.list-card__body-date {
		display:flex;
		flex-direction:column;
		margin:0;
		justify-content:flex-end;
		align-items:center;
		text-align:center;
	}
	.list-card__body-date h5 {
		font-size:3rem;
		color:#c3c3c3;
		margin:0;
	}
	.list-card__body-date h6 {
		font-size:2rem;
		color:#c3c3c3;
		margin:0;
	}
}
.list-card__fab {
	position:absolute;
	right:5px;
	bottom:-15px;
	padding-top:18px;
	text-align:center;
}
@media screen and (max-width:60rem) {
	.list-card__fab {
		right:33vw;
		bottom:-5px;
	}
}
.form {
	display:grid;
	grid-template-areas:"image content content";
	grid-template-columns:minmax(30rem,1fr) 2fr;
	flex-direction:column;
}
.form>* {
	margin-bottom:1.6rem;
}
@media screen and (max-width:60rem) {
	.form {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
}
.form__error {
	margin:0 0 1.6rem 0;
	font-style:italic;
}
.form-image {
	grid-area:image;
	display:flex;
	flex-direction:column;
	margin:5rem 0 0 0;
	margin-left:2rem;
	display:flex;
	justify-content:flex-start;
}
.form-image img {
	height:50vh;
	width:100%;
}
@media (max-width:60rem) {
	.form-image {
		margin-left:0;
	}
	.form-image img {
		width:100%;
	}
}
.form-image p {
	margin-right:2rem;
}
.form-content__main {
	grid-area:content;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	outline:none;
	padding-top:30px;
	margin:3.8rem 3rem 0 3rem;
	font-size:1.8rem;
	color:black;
	font-weight:400;
}
@media screen and (max-width:60rem) {
	.form-content__main {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
}
.form-content__others {
	display:grid;
	grid-template-areas:"others date";
	grid-template-columns:35rem 35rem;
}
@media screen and (max-width:60rem) {
	.form-content__others {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
}
.form-content__others-others {
	position:relative;
	left:-3rem;
}
.form-content__checkbox {
	grid-area:date;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.form-content__checkbox input[type=checkbox] {
	margin-bottom:1rem;
	width:3rem;
}
.form-content__checkbox>div {
	margin-bottom:1.5rem;
}
.form-content__checkbox-calendar {
	display:flex;
	justify-content:flex-start;
}
.form-title {
	border:none;
	border-radius:0.5rem;
	text-align:center;
	outline:none;
	height:5rem;
	width:70rem;
	font-size:2.3rem;
	color:black;
	font-weight:700;
	background:white;
	margin-bottom:3rem;
}
.form-title:focus {
	border:1px solid #eb6e80;
	box-shadow:0 0 10px 0 #eb6e80 inset,0 0 10px 4px #eb6e80;
}
.form-title:focus::placeholder {
	color:transparent;
}
@media (max-width:60rem) {
	.form-title {
		width:90vw;
	}
}
.form-description {
	border:none;
	border-radius:0.5rem;
	text-align:center;
	outline:none;
	height:20rem;
	width:70rem;
	background:white;
	font-size:2.3rem;
	color:black;
	font-weight:400;
	margin-bottom:3rem;
}
.form-description:focus {
	border:1px solid #eb6e80;
	box-shadow:0 0 10px 0 #eb6e80 inset,0 0 10px 4px #eb6e80;
}
.form-description::placeholder {
	font-weight:600;
}
.form-description:focus::placeholder {
	color:transparent;
}
@media (max-width:60rem) {
	.form-description {
		width:90vw;
	}
}
.form-venue,.form-fees {
	grid-area:others;
	display:flex;
	justify-content:center;
	margin-bottom:2rem;
	justify-content:center;
}
.form-venue label,.form-fees label {
	color:#eb6e80;
	font-size:2.3rem;
}
.form-venue input,.form-fees input {
	height:3rem;
	margin-left:2rem;
	border-radius:0.5rem;
	outline:none;
	border:none;
	text-align:center;
	background:white;
	color:black;
}
.form-venue input:focus,.form-fees input:focus {
	border:1px solid #eb6e80;
	box-shadow:0 0 10px 0 #eb6e80 inset,0 0 10px 2px #eb6e80;
}
.form-time {
	display:flex;
	justify-content:space-around;
}
.form-time label {
	color:#eb6e80;
	font-size:2.3rem;
	margin:0 3rem;
	width:5rem;
}
.form-time .to {
	font-size:1.8rem;
	margin:0.2rem 2rem;
}
.form-time input {
	height:3rem;
	border-radius:0.5rem;
	outline:none;
	border:none;
	text-align:center;
	background:white;
	color:black;
	margin-bottom:2rem;
}
.form-time input:focus {
	border:1px solid #eb6e80;
	box-shadow:0 0 10px 0 #eb6e80 inset,0 0 10px 2px #eb6e80;
}
.to {
	margin-right:0;
}
.re-time-picker span {
	margin-left:3rem;
}
.icon {
	position:absolute;
	right:-2.5rem;
	bottom:3.2rem;
	color:#39444f;
}
.form-fees label {
	margin-right:2rem;
}
.form-image-exist {
	display:flex;
	justify-content:center;
}
.react-time-picker__wrapper {
	display:flex;
	align-items:center;
}
.react-time-picker__inputGroup {
	display:flex;
	align-items:center;
	background-color:white;
	border-radius:0.5rem;
	padding:0.5rem;
}
.react-time-picker__inputGroup__input {
	color:black;
	border:none;
	background-color:transparent;
	outline:none;
	font-size:0.5rem;
	width:5rem;
	height:2rem !important;
}
.react-time-picker__inputGroup__input:focus {
	border:1px solid #eb6e80;
	box-shadow:0 0 10px 0 #eb6e80 inset,0 0 10px 2px #eb6e80;
}
.react-datepicker-wrapper {
	display:flex;
}
.react-datepicker__input-container {
	display:flex;
	align-items:center;
}
.react-datepicker__input-container input {
	height:3rem;
	border-radius:0.5rem;
	outline:none;
	border:none;
	text-align:center;
	background:white;
	color:black;
}
.react-datepicker__input-container input:focus {
	border:1px solid #eb6e80;
	box-shadow:0 0 10px 0 #eb6e80 inset,0 0 10px 2px #eb6e80;
}
.react-time-picker__wrapper .react-time-picker__button {
	display:none;
}
.react-time-picker__inputGroup__input.react-time-picker__inputGroup__hour,.react-time-picker__inputGroup__input.react-time-picker__inputGroup__minute,.react-time-picker__inputGroup__input.react-time-picker__inputGroup__amPm {
	font-size:1.6rem;
	width:5rem !important;
	height:fit-content !important;
}
.react-time-picker__inputGroup__input.react-time-picker__inputGroup__hour,.react-time-picker__inputGroup__input.react-time-picker__inputGroup__minute {
	top:10px;
	position:relative;
}
.react-time-picker__inputGroup__input.react-time-picker__inputGroup__hour:focus,.react-time-picker__inputGroup__input.react-time-picker__inputGroup__minute:focus {
	border:1px solid #eb6e80;
	box-shadow:0 0 10px 0 #eb6e80 inset,0 0 10px 2px #eb6e80;
}
.container {
	display:flex;
	justify-content:center;
	align-items:center;
	width:80%;
	height:auto;
	box-shadow:3px 3px 7px black;
	position:relative;
	background-color:whitesmoke;
	border-radius:7px;
	top:50px;
	left:150px;
}
.image-container {
	width:30%;
	height:50%;
}
.image-container img {
	width:100%;
	height:auto;
}
.text-container {
	width:60%;
	text-align:center;
	position:relative;
	top:auto;
	margin-right:40px;
	margin-left:50px;
	text-align:left;
}
.text-container h2 {
	position:relative;
}
.text-container h1 {
	margin-bottom:10px;
	font-size:250%;
}
.text-container p {
	font-weight:bold;
	font-size:110%;
}
.logohe {
	font-size:250%;
	top:-50px;
	left:60px;
	position:relative;
}
.card1 {
	display:flex;
	margin:60px;
	margin-top:30px;
	justify-content:space-around;
}
.butreg {
	background-color:green;
	color:white;
	border:none;
	padding:10px 20px;
	border-radius:5px;
	cursor:pointer;
	top:-50px;
	left:-55px;
	position:relative;
}
.butunreg {
	background-color:red;
	color:white;
	border:none;
	padding:10px 20px;
	border-radius:5px;
	cursor:pointer;
	top:-50px;
	left:-55px;
	position:relative;
}
.butreg:disabled,.butunreg:disabled {
	background-color:grey;
	cursor:not-allowed;
}
.event-list-item-container {
	position:relative;
}
.registration-message {
	position:absolute;
	bottom:550%;
	left:70%;
	width:300%;
	transform:translate(-50%,-50%);
	background-color:rgba(0,128,0,0.8);
	color:white;
	padding:10px 20px;
	border-radius:5px;
	z-index:999;
	display:inline-block;
}
.add-event {
	position:absolute;
	top:700px;
	left:1000px;
	transform:translate(-50%,-50%);
	background-color:rgba(0,128,0,0.8);
	padding:10px 20px;
	color:white;
	font-size:18px;
	border-radius:5px;
}
.add-eventsign {
	position:absolute;
	top:95%;
	left:85%;
	width:20%;
	transform:translate(-50%,-50%);
	background-color:rgba(0,128,0,0.8);
	padding:10px 20px;
	color:white;
	font-size:18px;
	border-radius:5px;
}
.add-eventlog {
	position:absolute;
	top:666px;
	left:1250px;
	width:25%;
	transform:translate(-50%,-50%);
	background-color:rgba(0,128,0,0.8);
	padding:10px 20px;
	color:white;
	font-size:18px;
	border-radius:5px;
}
.card-container {
	width:25rem;
	box-shadow:1px 1px 3px black;
	background-color:#292B2C;
	height:auto;
	border-radius:7px;
	padding:5px;
}
.img-container {
	display:flex;
	justify-content:center;
}
.img_contri {
	width:150px;
	height:170px;
	border-radius:10px;
	align-content:center;
	top:10px;
	position:relative;
}
.card-body {
	color:white;
	top:20px;
	position:relative;
	text-align:center;
}
.card-button {
	background-color:#169CF3;
	border-color:#169CF3;
	color:white;
	top:-10px;
	position:relative;
	left: 40px;
}